.tupian
{  
	text-align: center;
    background-color:rgb(63, 191, 251);
}

.wenzi
{
    background-color:rgb(249, 12, 56); 
    width:112px;
    height:22px;
    text-align: center;
    margin:auto;

}